#search_it_modi legend, #search_it_index legend, #search_it_highlight legend, #search_it_exclude legend, #search_it_include legend, #search_it_files legend {
    padding-left: 30px;
    background: no-repeat 5px center transparent;
}



#search_it_generate_log {
    max-height: 350px;
    overflow: auto;
    padding: 0.3em 1em;
    border: 1px solid #b99e33;
    border-top: none;
}

#search_it_generate_log.index-done {
    border-color: #3C9ED0;
}

#search_it_generate_log p {
    color: #3C9ED0;
}

#search_it_generate_inprogress {
    background-image: url('loading.gif');
    background-repeat: no-repeat;
}

#search_it_generate_progressbar {
    color: #fff;
    font-weight: 900;
    position: relative;
    height: 3em;
    line-height: 3em;
    padding: 0 10px;
    margin-bottom: 0;
    background: #b99e33 url(progressbar.gif) no-repeat -5000px 0;
}

#search_it_generate_progressbar .percentage {
    position: absolute;
    top: 0;
    right: 10px;
    height: 3em;
    line-height: 3em;
}

#search_it_generate_progressbar .duration {
    position: absolute;
    top: 0;
    left: 25%;
    height: 3em;
    line-height: 3em;
}

#search_it_generate_progressbar .timeleft {
    position: absolute;
    top: 0;
    right: 25%;
    height: 3em;
    line-height: 3em;
}

.search_it_formlink a {
    display: block;
    padding: 3px 5px;
}


#search_it_sample_wrapper {
    clear: left;
    padding: 5px;
}

#search_it_sample_wrapper p strong {
    color: #000;
    background-color: #fff;
    padding: 0 0.2em;
    border: 1px solid #000;
    font-style: italic;
}

#search_it_sample {
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #000;
    background: #fff;
    color: #000;
}


#search_it_settings_form .checkbox {
    margin: 2px 0 5px;
}

#search_it_settings_form mark,
#search_it_settings_form .mark {
    background-color: transparent;
    color: #3bb594;
}


#search_it_settings_folders {
    font-family: monospace;
    font-size: 13px;
}

#search_it_exclude_blacklist dt,
#search_it_exclude_articles dt,
#search_it_exclude_categories dt {
    display: none;
}

#search_it_exclude_blacklist dd,
#search_it_exclude_articles dd,
#search_it_exclude_categories dd {
    margin-left: 0;
    float: none;
    width: 100%;
}

#search_it_plaintext_description dd {
    padding-left: 16px;
}

.movesymbol {
    font-size: 21px;
}

#sortable-elements {
    float: none;
    display: block;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#sortable-elements .panel-edit,
.include_checkboxes .panel {
    margin-bottom: 1px;
}

#search_it_settings_form .include_checkboxes dt {
    width: 0;
    padding: 0;
    margin: 0;
}

#search_it_settings_form .placeholder {
    position: relative;
    padding: 19px;
    background-color: #f5f5f5;
    height: 32px;
    border: 1px solid #e3e3e3;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);

}


body.rex-theme-dark #search_it_sample {
    color: rgba(255, 255, 255, 0.75);
    background-color: rgba(27, 35, 44, 0.8);
    border-color: rgba(21, 28, 34, 0.8);
}

body.rex-theme-dark #search_it_settings_folders {
    color: rgba(255, 255, 255, 0.75);
}

@media (prefers-color-scheme: dark) {

    body.rex-has-theme:not(.rex-theme-light) #search_it_sample {
        color: rgba(255, 255, 255, 0.75);
        background-color: rgba(27, 35, 44, 0.8);
        border-color: rgba(21, 28, 34, 0.8);
    }

    body.rex-has-theme:not(.rex-theme-light) #search_it_settings_folders {
        color: rgba(255, 255, 255, 0.75);
    }
}
